{% extends "base.html.twig" %}

{% block body %}

<div class="container bg-dark">
  <div class="row bg-primary"> 
    <div class="col bg-secondary">
      test
    </div>
  </div>


</div>

{% endblock %}